<div section="home-hero" bind="313052ac-214c-aaca-9b49-a707cc802d06" class="section-home-hero wf-section">
  <div class="home-hero-top-wrapper">
    <div class="page-padding">
      <div class="container-large">
        <div class="home-hero-wrapper">
          <h1 option:text="home-heading-hero" class="heading-large">FUEL YOUR MISSION</h1>
          <div class="hero-sub-heading-wrapper">
            <h2 option:textarea="home-hero-paragraph" class="text-size-medium">Snacks and supplements made with real ingredients. No sugar, no bullshit.</h2>
          </div>
          <a option:url="cta-link" href="#" class="button w-button">Shop now<br></a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-hero-bottom-wrapper">
    <div class="background-img-wrapper flex">
      <div class="hero-product-bg-left"></div>
      <div class="hero-product-img-wrapper"><img src="images/topbg1b-new.png" loading="eager" sizes="100vw" srcset="images/topbg1b-new-p-500.png 500w, images/topbg1b-new-p-800.png 800w, images/topbg1b-new-p-1080.png 1080w, images/topbg1b-new-p-1600.png 1600w, images/topbg1b-new.png 1832w" alt="" class="img-full-width hide-tablet"><img src="images/the-friendly-fat-company-products-tablet.jpg" loading="lazy" sizes="100vw" srcset="images/the-friendly-fat-company-products-tablet-p-500.jpeg 500w, images/the-friendly-fat-company-products-tablet-p-800.jpeg 800w, images/the-friendly-fat-company-products-tablet.jpg 1003w" alt="" class="img-full-width show-tablet"><img src="images/the-friendly-fat-company-products-mobile.jpg" loading="lazy" alt="" class="img-full-width show-mobile-portrait">
        <div class="image-cover-top"></div>
      </div>
      <div class="hero-product-bg-right"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
